.card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 70%;
    border-radius: 10px;
    color: #fff;
    background-color: #121212;
    border: 1px solid #1f1f1f;
    box-shadow: 0 5px 15px 0px hsla(0, 0%, 0%, 0.5);
    text-align: center;
    padding: 20px;
}

h2 {
    user-select: none;
    margin: 0;
}

.logo img {
    max-width: 75px;
    border-radius: 50%;
    margin: 20px;
    user-select: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    user-select: none;
    margin-bottom: 0.5em;
    color: #ccc;
}

.form-group input {
    border: 1px solid #333;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 1.5em;
    background-color: #1f1f1f;
    color: #fff;
    font-family: inherit;
}

.form-group input[type="submit"] {
    background-color: #09ce7c;
    color: #fff;
    cursor: pointer;
    margin-top:1em;
    margin-bottom: 0.2em;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #08e98b;
}

.login {
    user-select: none;
    margin-top: 0em;
    margin-bottom: 1.8em;
}

.login a {
    color: #09ce7c;
    text-decoration: none;
    cursor: pointer;
}

.login p {
    color: #ccc;
}