<div class="card">
    <h2>Register</h2>
    <div class="logo">
        <img src="./assets/images/logo-light.svg" alt="Logo" draggable="false" />
    </div>
    <form action="#" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email..." required/>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter a username..."required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter a password..."required/>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter password again..." required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Account"/>
        </div>
    </form>
</div>
