nav {
    min-width: 240px;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    
    .logo {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      
  
      img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
      }
    }

    .profile {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      
  
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
    }
  
    .nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  
      li {
        margin-right: 20px;
  
        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          transition: color 0.3s ease;
          cursor: pointer;
  
          &:hover {
            color: #08e98b;
          }
        }
      }
    }
  }