<form class="test" action="#">
<h2 class= "recipeNameHeader">Name</h2>
    <div class = "recipeName">
    <input type ="text" id="recipeName" placeholder="Enter the recipe name..."/>
    </div>


<h2 class= "recipeImageHeader">Image</h2>
    <div class="recipeImage">
        <input type="file" id="recipeImage" name="recipeImage" accept="image/*">
    </div>

<h2 class="recipeLinkHeader">Video</h2>
    <div class = "recipeLink">
        <input type="url" id="recipeLink" name="recipeLink" placeholder="Enter cooking video link...">
    </div>

<h2 class="ingredientHeader">Ingredients</h2>
<p class="ingredientError" *ngIf="minIngredientError == true">Error: You need at least 1 Ingredient!</p>
<p class="ingredientError" *ngIf="maxIngredientError == true">Error: Max 15 Ingredients!</p>
<p class="moreIngredients">Add more ingredients: <button (click)="onAddIngredientClick()">+</button></p>
    <div class="ingredientForm" *ngFor="let ingredient of ingredients; let i = index">
        <input type="number" [(ngModel)]="ingredient.amount" id ="ingredientAmount{{i}}" name="ingredientAmount{{i}}" min="0" max ="999" placeholder="Amount..." required>
        <select [(ngModel)]="ingredient.type" id="ingredientType{{i}}" name="ingredientType{{i}}" required>
            <option disabled selected value></option>
            <option value="-">-</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="ml">ml</option>
            <option value="l">l</option>
        </select>
        <input (click)="minIngredientError = false" [(ngModel)]="ingredient.ingredient"  type="text" id="ingredient{{i}}" name="ingredient{{i}}" placeholder="Enter ingredient..."required/>
        <button (click)="onRemoveIngredientClick(i)">x</button>
    </div>

<h2 class="instructionHeader">Instructions</h2>
<p class="instructionError" *ngIf="minInstructionError == true">Error: You need at least 1 Instruction!</p>
<p class="instructionError" *ngIf="maxInstructionError == true">Error: Max 15 Instructions!</p>
<p class="moreInstructions">Add more instructions: <button (click)="onAddInstructionClick()">+</button></p>

    <div class="instructionForm" *ngFor="let instruction of instructions; let i = index">
        <input (click)="minInstructionError = false" [(ngModel)]="instruction.instruction" type="text" id="instruction{{i}}" name="instruction{{i}}" placeholder="Enter the next instruction..."required/>
        <button (click)="onRemoveInstructionClick(i)">x</button>
    </div>

    <div class="addRecipeSubmit">
        <input type="submit" name="submit" value="Enter new Recipe">
    </div>
    
</form>

