@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: fadeIn 0.3s ease forwards;
    opacity: 0;
}

.modal-container {
    color: #fff;
    min-width: 400px;
    min-height: 600px;
    border-radius: 10px;
    background-color: #121212;
    border: 1px solid #212121;
    box-shadow: 0 5px 15px 0px hsla(0, 0%, 0%, 0.5);
}

.modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

h2 {
    font-size: 1.2rem;
    margin: 1em 0;
    font-weight: 400;
}

.modal-header button {
    position: absolute;
    right: 0;
    border: none;
    margin-right: 1em;
    background: url('../../../assets/icons/cross.svg') no-repeat center center;
    background-size: cover;
    background-position: center;
    filter: invert(1);
    width: 36px;
    height: 36px;
    cursor: pointer;
}