<div class="top-bar">
    <h1>Recipes</h1>
    <div class="controls">
        <button [ngClass]="{'selected': isListView}" class="list-view" (click)="switchToListView()"></button>
        <button [ngClass]="{'selected': !isListView}" class="grid-view" (click)="switchToGridView()"></button>
    </div>
</div>
<div class="recipe-display">
    @if (isListView == true) {
        <app-recipe-list-view [recipes]="this.recipes"/>
    } @else {
        <app-recipe-grid-view [recipes]="this.recipes"/>
    }
</div>

