<app-header title="Recipes">
    <div class="buttons">
        <button (click)="openModal()" class="add-recipe"></button>
        <button [ngClass]="{'selected': isListView}" class="list-view" (click)="switchToListView()"></button>
        <button [ngClass]="{'selected': !isListView}" class="grid-view" (click)="switchToGridView()"></button>
    </div>
</app-header>
<div class="recipe-display">
    @if (isListView == true) {
        <app-recipe-list-view [recipes]="this.recipes"/>
    } @else {
        <app-recipe-grid-view [recipes]="this.recipes"/>
    }
</div>
<app-modal title="Add Recipe">
</app-modal>

