.top-bar {
    height: 65px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    color: #fff;
    padding: 1em;
    background-color: #121212;
    border-radius: 10px;
    margin-bottom: 1em;
}

.recipe-display {
    width: 80%;
    margin: auto;
}