.recipes-bar {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    padding-top: 2px;
    overflow-x: auto;
    scrollbar-width: thin;
    margin-left: 0;
}

app-recipe-card {
    padding: 10px;
}